extends template

block nav
    nav
        +createMenu(dictMenu, 'Заповедники России')
        
block content
    div.main
        div.gallery
            +createGallery(listImages)

        div.body
            div.left-content
                +makeLeftRightContent(listLeftContent)

            div.middle-content
                div.big-card
                    h3= listMiddleContent[0].header
                    div.big-card__big-card-main--first
                        div.big-card-main__text
                            p= listMiddleContent[0].text1
                            p= listMiddleContent[0].text2
                            button(type="button") Подробнее»
                        img(src= require("../images/" + listMiddleContent[0].image))

                div.big-card
                    h3= listMiddleContent[1].header
                    div.big-card__big-card-main--second
                        img(src= require("../images/" + listMiddleContent[1].image))
                        div.big-card-main__text
                            p= listMiddleContent[1].text1
                            p= listMiddleContent[1].text2
                            button(type="button") Подробнее»

            div.right-content
                +makeLeftRightContent(listRightContent)